# -----------------------
# Python
# -----------------------
backend/.venv/
backend/__pycache__/
*.pyc

# -----------------------
# Node / Frontend
# -----------------------
frontend/node_modules/
frontend/dist/

# -----------------------
# Environment files
# -----------------------
*.env

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db
